<!DOCTYPE html>
<html lang="en">
<head>
    <title>JobFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h1>Create new announcement</h1>


    <form action="/make_anc/" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>{{ field.label_tag }} {{ field }}</p>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>

</div>

</body>
</html>
<style type="text/css">
label{
    margin-right: 5em; /* or larger if you need */
}
</style>